@media (min-width: 1025px){
    .main_box {
        width: 30%;
        height: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 30px;
        backdrop-filter: blur(10px);
    }

    .section:first-child {
        border-radius: 30px 30px 0 0;
        background-color: rgba(127, 255, 212,0.5);
    }
    .section:last-child {
        border-radius:  0 0 30px 30px;
        background-color: rgba(102, 51, 153,0.5);
    }

    #errorMessage{
        position: absolute;
        right: -130px;
        top: 0;
        padding: 10px;
        border: 1px solid red;
        background-color: #ffe6e6;
        color: red;
        border-radius: 0 15px 15px 15px;
        width: 140px;
        font-size: 13px;
    }

    #header{
        padding-top: 20px;
        padding-bottom: 50px;
        margin: 0 auto;
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center;

        color: #ffadad; font-family: 'Raleway',sans-serif;
        font-size: 40px;
        font-weight: 800;
        line-height: 32px;
        text-align: center;
        text-transform: uppercase;
    }
}


@media (min-width: 1px) and (max-width: 1024px) {
    .main_box {
        width: 100vw;
        height: 100vh;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        backdrop-filter: blur(10px);
    }

    .section:first-child {
        padding-top: 60px;
        background-color: rgba(127, 255, 212,0.5);
    }
    .section:last-child {
        background-color: rgba(102, 51, 153,0.5);
    }

    #header {
        position: absolute;
        top: 10px;
        left: 20px;
        z-index: 1;
        font-weight: 900;
        font-size: 22px;

        color: #f57979; font-family: 'Raleway',sans-serif;
        line-height: 32px;
        text-align: center;
        text-transform: uppercase;
        /*display: none;*/
    }
}

.section {
    flex-grow: 1;
    padding-top: 10px;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    background-color: rgba(100, 149, 237, 0.27);
}

.section.active {
    transition: height 0.5s ease-in-out;
    height: 80%;
    flex-grow: 1;
    cursor: auto;
}

.section:not(.active) {
    transition: height 0.5s ease-in-out;
    height: 35px;
}


.section p {
    user-select: none;
    margin-top: 0;
    padding-bottom: 5px;
    font-size: 21px;
    font-weight: bold;
}

.section a{
    font-weight: bold;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
}

.section button{
    outline: none;
    border: none;
    width: 27%;
    height: 10%;
    border-radius: 15px;
    transition: scale 0.3s ease-in-out;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}


.section button {
    margin-top: 15px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #2196f3;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: scale 0.3s ease-in-out;
}

.section button:hover {
    scale: 1.05;
}


.section input {
    font-weight: bold;
    font-size: 15px;
    padding-left: 20px;
    height: 40px;
    outline: none;
    border: none;
    width: 80%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.78);
}

#input_container{
    position: relative;
}

#errorMessage{
    color: #ff3e3e;
    font-size: 14px;
}




#buttons{
    display: flex;
    gap: 100px;
    justify-content: center;
}

.sign_with{
    margin-top: 70px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(236, 236, 236, 0.67);
    transition: background-color 0.2s ease-in-out;
}
#google_login{
    background-image: url("../assets/google_icon.png");
}
#google_login:hover{
    background-color: rgba(203, 203, 203, 0.67);
}

#apple_login{
    background-image: url("../assets/apple_icon.png");
}

#apple_login:hover{
    background-color: rgba(203, 203, 203, 0.67);
}


