.main_box {
    padding-top: 110px;
    width: 500px;
    height: 700px;
    margin: 0 auto;
    /*border: 2px solid black;*/
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
}


.section {
    /*clip-path: polygon(100% 28%, 96% 20%, 90% 13%, 82% 8%, 74% 5%, 64% 3%, 58% 2%, 51% 1%, 45% 1%, 31% 1%, 25% 1%, 13% 4%, 7% 9%, 3% 13%, 0% 17%, 0% 18%, 0% 100%, 100% 100%);    font-size: 18px;*/
    width: 100%;
    padding: 5px;
    border: 1px solid whitesmoke;
    text-align: center;
    cursor: pointer;
    /*max-height: 30px;*/
}


.section.active {
    transition: height 0.6s ease-in-out;
    height: 620px;
    flex-grow: 1;
    cursor: auto;
}
.section:first-child {
    border-radius: 30px 30px 0 0 ;
}
.section:last-child {
    border-radius:  0 0 30px 30px;
}
.section:not(.active) {
    transition: height 0.6s ease-in-out;
    height: 35px;
}

.section p {
    user-select: none;
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
}

input{
    outline: none;
    border: none;
    height: 30px;
    width: 90%;
    border-radius: 10px;
}

































/*backup with decent animation*/
/*.main_box {*/
/*    width: 600px;*/
/*    height: 800px;*/
/*    margin: 0 auto;*/
/*    border: 2px solid black;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/


/*.section {*/
/*    width: 100%;*/
/*    padding: 5px;*/
/*    border: 2px solid black;*/
/*    text-align: center;*/
/*    cursor: pointer;*/
/*    transition: max-height 1s ease-in-out;*/
/*    max-height: 1000px;*/
/*    background-color: aqua;*/

/*    !*clip-path: polygon(0% 0%, 90% 10%, 100% 70%, 50% 100%, 0% 70%); !* Define the custom shape *!*!*/
/*}*/

/*.section:last-child {*/
/*    border-bottom: none;*/
/*}*/

/*.section.active {*/
/*    flex-grow: 1;*/
/*}*/

/*.section:not(.active) {*/
/*    max-height: 35px; !* Set the max-height to 0 for inactive sections *!*/
/*}*/

/*.section p {*/
/*    margin-top: 0;*/
/*}*/
